<div style="width: fit-content; margin: auto; margin-top: 20px;">
    <button type="button" class="btn btn-success" (click)="openModal(update)">Update</button>
    <button type="button" class="btn btn-danger" (click)="openModal(delete)">Delete</button>
</div>

<ng-template #delete>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Delete product</h4>
        <button type="button" class="close pull-right" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
      
    </div>
   
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="deleteProduct()" >Delete</button>
        <button type="button" class="btn btn-default">Close</button>
    </div>
</ng-template>

    <ng-template #update>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Update product</h4>
            <button type="button" class="close pull-right" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body" style="width: 500px;">
            <div class="form-group">
                <label for="id">Name</label>
                <input type="text" [(ngModel)] = "params.data.name" class="form-control">
            </div>
            <div class="form-group">
                <label for="image">Quantity</label>
                <input type="text" [(ngModel)] = "params.data.quantity" class="form-control">
            </div>
            <div class="form-group">
                <label for="name">Price</label>
                <input type="text" [(ngModel)] = "params.data.price" class="form-control">
            </div>
            <div class="form-group">
                <label for="name">Type</label>
                <input type="text" [(ngModel)] = "params.data.id_Type"  class="form-control">
            </div>

            <div class="form-group">
                <label for="name">Image</label>
                <input type="text" [(ngModel)] = "params.data.image"  class="form-control">
            </div>
            <br>
            <button type="button" class="btn btn-success" (click)="updateProduct()">Update</button>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default">Close</button>
        </div>
    </ng-template>